<%- include ('partials/header') %>

  <h2> Register </h2>

  <div class="page-divide">

    <img src="/images/registerImage.png" alt="Image of a coder working" class="left-side">
    <div class="register right-side">

      <%- include ('partials/messages') %>

        <form action="/user/register" method="POST">

          <div class="form-group ">
            <label for="name"> Name </label>
            <input type="name" id="name" name="name" class="form-control login-form"
              value="<%= typeof name != 'undefined' ? name : '' %>" />
          </div>

          <div class="form-group "">
        <label for=" email">Email</label>
            <input type="email" id="email" name="email" class="form-control login-form"
              value="<%= typeof email != 'undefined' ? email : '' %>" />
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control login-form"
              value="<%= typeof password != 'undefined' ? password : '' %>" />
          </div>

          <div class="form-group ">
            <label for="password2">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control login-form"
              value="<%= typeof confirmPassword != 'undefined' ? confirmPassword : '' %>" />
          </div>

          <div class="center">
            <button type="submit" class="btn green register-btn">
              Register
            </button>
            <a href="/" class="abutton grey"> Cancel</a>
          </div>

        </form>
        <h5><a href="/user/login" class="center">Have an account?</a></h5>

    </div>
  </div>